/* frontend/src/index.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=EB+Garamond:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=EB+Garamond:wght@400;700&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=EB+Garamond:wght@400;700&family=VT323&family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=EB+Garamond:wght@400;700&family=VT323&family=Oswald:wght@400;700&family=Paytone+One&display=swap");

@import "tailwindcss";
